<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_anchor"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_anchor_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestTest"
        android:usesCleartextTraffic="true"
        tools:targetApi="29">
        <activity
            android:name=".activities.BackToStartActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CheckupActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CheckupResultsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChooseLessonActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LaunchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LessonActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SigninActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SignupOkActivity"
            android:exported="false" />
    </application>

</manifest>